{%extends 'base.html'%}
{% load bootstrap3 %}
{% load static %}
{% block content %}
{{block.super}}


<div class="container">
  <div class="row">
    {% for hood in hoods %}
    <div class="col-md-6">
      

      <br><br>

      <div class="card img-fluid">
        <img src="{{hood.pic.url}}" class="card img-fluid" alt="image" style="width:500px;height:500px">

      </div>
      <h5 class="card-title">{{hood.neighbourhood}}</h5>
      <p><strong>{{hood.name}}</strong></p>
      <p><strong>{{hood.location}}</strong> </p>
 

    </div>

   
    {% endfor %}

  </div>

</div>

{% endblock %}
